extends ../layout.pug
block header
  head
    link(rel="stylesheet", type="text/css", href="/stylesheets/bookings.css")

block content
  table#inbound-booking-requests
    - var inbound = query.direction === 'inbound' ? true : false
    tr
      th Property Name
      th Start Date
      th End Date
      if inbound
        th Received
      else
        th Sent
      th Status
      if inbound
        th Approve
        th Decline
    each request, index in bookingRequests
      tr(id="booking-request-" + index)
        td= request.listingName
        td= request.requestStartDate
        td= request.requestEndDate
        td= request.requestMadeDate
        td= request.status
        if inbound
          td
            button(id="approve-request-" + index, class="button", name="approve", data=request) Approve
          td
            button(id="decline-request-" + index, class="button", name="decline", data=request) Decline

  script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
  script(type="text/javascript" src="/javascripts/updateRequests.js")
