extends ../layout.pug
block header
  head
    link(rel="stylesheet", type="text/css", href="/stylesheets/listings.css")

block nav
  nav
    a#sign-out-nav(href="/signout") Sign Out
    a#view-listings-nav(href="/listings") View Listings

block content
  div(class="container")
    each listing, index in listings
      a(id="listing-"+index, href="/listings/" + listing._id)
        article(class="column", id=index)
          img(id="image-"+index, class="image", src=listing.image.url, alt="A photo of the property")
          h4(id="name-"+index)= listing.name
          p(id="description-"+index)= listing.description
          p(id="price-"+index)= listing.price
