extends ../layout.pug
block header
  script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
  script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
  script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
  link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
  script(type="text/javascript" src="/javascripts/datePicker.js")
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  article(id="listing")
    h4(id="name")= "Name: " + listing.name
    img(id="image", src=listing.image.url, alt="A photo of the property")
    p(id="description")= "Description: " + listing.description
    p(id="price")= "Price Per Night: " + listing.price
  form(action=listing._id + "/bookingRequest/new", method="POST")
    input(id="date-range" name="dates")
    br
    input(id="owner" type="hidden" name="owner" value=listing.owner)
    input(id="listingName" type="hidden" name="listingName" value=listing.name)
    br
    button#booking-request(type="submit") Send Booking Request
