extends ../layout.pug
block header
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css")
  script(type="text/javascript" src="/javascripts/datePicker.js")
block nav
  a#view-listings-nav(href="/listings") View Listings

block content
  article(id="listing")
    h4(id="name")= "Name: " + listing.name
    p(id="description")= "Description: " + listing.description
    p(id="price")= "Price Per Night: " + listing.price
  form(action=listing._id + "/bookingRequest/new", method="POST")
    input(class="datepicker", id="booking-start-date", data-provide="datepicker", name="startDate")
    br
    input(class="datepicker", id="booking-end-date", data-provide="datepicker", name="endDate")
    input(id="owner", type="hidden", name="owner", value=listing.owner)
    br
    button#booking-request(type="submit") Send Booking Request
